<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Chaz Gervais | Contact</title>
    
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
        $(function() {
            $(".headerData").load("header.html .header");
        });    
        </script>
    
        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i%7cMontserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="../css/font-awesome.min.css" rel="stylesheet"> <!-- for dropdown arrows-->
        <!-- Style -->
        <link href="../css/style.css" rel="stylesheet">
    </head>

<body>
    <!--div class="headerData"></div-->
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h1>Chaz Gervais</h1>
          </div>
          <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12">
            <div class="navigation">
              <div id="navigation">
                <ul>
                  <li class="active"> <a href="../index.html" title="Home">About</a></li>
                  <li class="has-sub"><a href="experience.html" title="Experience">What I do</a>
                    <ul>
                      <li><a href="travel.html" title="Travel">Travel</a></li>
                      <li><a href="volunteer.html" title="Volunteer">Volunteer & Leadership</a></li>
                      <li><a href="art.html" title="Art">Art & Photography</a></li>
                    </ul>
                  </li>
                  <li><a href="projects.html" title="Projects">Projects</a></li>
                  <li><a href="mentors.html" title="Mentors">Mentors</a></li>
                  <li><a href="contact.html" title="Contact">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="widget widget-contact">
                        <!-- widget search -->
                        <h3 class="widget-title">Contact Info</h3>
                        <!--address>
                            <strong>Flower.</strong>
                            <br> 1355 Market Street, Suite 900
                            <br> San Francisco, CA 94103
                            <br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address-->
                        <address>
                            <strong>Contact Name</strong>
                            <br>
                            <a href="mailto:chaz.gervais@gmail.com?subject=Question to your Website">chaz.gervais@gmail.com</a>
                            <div class="widget widget-social">
                                <div class="social-circle">
                                    <a href="https://www.facebook.com/chaz.gervais" target="_blank" class="#"><i class="fa fa-facebook"></i></a>
                                    <a href="https://www.instagram.com/chaz.gervais/" target="_blank" class="#"><i class="fa fa-instagram"></i></a>
                                    <a href="https://twitter.com/ChazGervais" target="_blank" class="#"><i class="fa fa-twitter"></i></a>
                                    <!--a href="#" class="#"><i class="fa fa-youtube-play"></i></a-->
                                </div>
                            </div>
                        </address>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1>Contact Form</h1>
                            <p> Please complete the form below. We'll do everything we can to respond to you as quickly as possible.</p>
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label" for="name">name</label>
                                        <input type="text" name="name" id="name" placeholder="" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="phone">phone</label>
                                        <input type="text" name="phone" id="phone" placeholder="" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="email">email</label>
                                        <input type="text" name="email" id="email" placeholder="" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label" for="Subject">Subject</label>
                                        <input type="text" name="Subject" id="Subject" placeholder="" class="form-control">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label" for="textarea">Message</label>
                                            <textarea class="form-control" id="textarea" name="textarea" rows="6" placeholder=""></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button id="singlebutton" name="singlebutton" class="btn btn-default">send message /nw/</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer">
      <p class="footer-text">Version 1.0 | Antonia Grillmair</p>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/menumaker.js"></script>
    <script src="../js/jquery.sticky.js"></script>
    <script src="../js/sticky-header.js"></script>
  </body>
</html>
