<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Chaz Gervais | Experience</title>
    
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
        $(function() {
            $(".headerData").load("header.html .header");
        });    
        </script>
    
        <!-- Bootstrap -->
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i%7cMontserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="../css/font-awesome.min.css" rel="stylesheet"> <!-- for dropdown arrows-->
        <!-- Style -->
        <link href="../css/style.css" rel="stylesheet">
    </head>

<body>
    <!--div class="headerData"></div-->
    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h1>Chaz Gervais</h1>
          </div>
          <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12">
            <div class="navigation">
              <div id="navigation">
                <ul>
                  <li class="active"> <a href="../index.html" title="Home">About</a></li>
                  <li class="has-sub"><a href="experience.html" title="Experience">What I do</a>
                    <ul>
                      <li><a href="travel.html" title="Travel">Travel</a></li>
                      <li><a href="volunteer.html" title="Volunteer">Volunteer & Leadership</a></li>
                      <li><a href="art.html" title="Art">Art & Photography</a></li>
                    </ul>
                  </li>
                  <li><a href="projects.html" title="Projects">Projects</a></li>
                  <li><a href="mentors.html" title="Mentors">Mentors</a></li>
                  <li><a href="contact.html" title="Contact">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-section">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <h2>What I do</h2>
              <p class="projectDescription">
                I have always believed in a few things: the power of strong communities, the importance of curiosity, and the truly inspiring natural world around us.
              </p>
              <p class="projectDescription">
                I use artistic media as a tool for exploring these things and hope to continue in this field.
              </p>
              <p class="projectDescription">
                The goal is to always create something better, to improve on my experiences, to learn as much as I can, and hopefully be instrumental in creating a better world.
              </p>

              <h3 class="projectTitle"><a href="travel.html">Travel</a></h3> 
              <p class="projectDescription">
                I believe in building stronger global communities and breaking down cultural barriers by learning from locals in other parts of the world. And I believe that we should continue to find inspiration from mother nature and all she has to offer.
              </p>
              <p class="projectDescription">
                There is no such thing as a two-week vacation flying half-way around the world for me. Instead, I love to get involved, stick around for a while, and make lasting friendships along the way; that work and travel go hand-in-hand. If I can stay in another country for a year and be inspired the whole time, then why would I only want to go for a week?
              </p>
              <p class="projectDescription">
                It’s hard travelling ethically today with increases in climate change, and heavy criticism of the flight industry. And yet I still believe there is an extraordinary value to travelling and all that can be gained from it.
              </p>

              <h3 class="projectTitle"><a href="volunteer.html">Volunteer & Leadership</a></h3> 
              <p class="projectDescription">
                Leadership, for me, has always been about developing the skills of everyone in the team to achieve extraordinary goals. It’s a collaborative effort of lifting everyone up and becoming a stronger team.
              </p>
              <p class="projectDescription">
                For over ten years now, I’ve been super lucky to work with many exceptional groups of motivated individuals. Every opportunity has provided new challenges to overcome and lessons to be learned.
              </p>
              <p class="projectDescription">
                My experience has included leadership training for youth, English teaching in Austria, working with youth on a farm in Mexico, volunteering on farms in Canada and Argentina and working with a number of teams on major art projects.
              </p>
              <p class="projectDescription">
                I’d like to thank National Outdoor Leadership School (NOLS), Katimavik, AIESEC, Workaway and Kunst Uni Linz.
              </p>

              <h3 class="projectTitle"><a href="art.html">Art & Photography</a></h3> 
              <p class="projectDescription">
                I am currently studying Raum&DesignStrategies at the Art University in Linz, Austria. On the side, I work as an art assistant in a freelance environment, as well as doing some editorial work.
              </p>
              <p class="projectDescription">
                My art is largely conceptual, but one day I plan to develop projects in public spaces that aim to improve access to art and positively affect the lives of others.
              </p>
              <p class="projectDescription">
                I also enjoy photography as both a creative tool and for documentation. It’s so much more than just an aesthetic medium and can be used for story-telling and narration; the effects of which are sometimes profound.
              </p>
            </div>
            
       </div>
    </div>
    
    <div class="footer">
      <p class="footer-text"></p>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/menumaker.js"></script>
    <script src="../js/jquery.sticky.js"></script>
    <script src="../js/sticky-header.js"></script>
  </body>
</html>
