
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> 
                <h1>Chaz Gervais</h1>
            </div>
            <div class="col-lg-8 col-md-4 col-sm-12 col-xs-12"> 
                <div class="navigation">
                    <div id="navigation">
                        <ul>
                            <li class="active"><a href="../views/index.html" title="Home">About</a></li>
                            <li class="has-sub"><a href="../views/experience.html" title="Experience">Experience</a>
                                <ul>
                                    <li><a href="../views/travel.html" title="Experience">Travel</a></li>
                                    <li><a href="../views/volunteer.html" title="Volunteer">Volunteer</a></li>
                                    <li><a href="../views/education.html" title="Education">Education</a></li>
                                </ul>
                            </li>
                            <li class="has-sub"><a href="../views/interests.html" title="Interests">Interests</a>
                                <ul>
                                    <li><a href="../views/photography.html" title="Photography">Photography</a></li>
                                    <li><a href="../views/art.html" title="Art">Art</a></li>
                                    <li><a href="../views/music.html" title="Music ">Music</a></li>
                                </ul>
                            </li>                                
                            <li><a href="../views/mentors.html" title="Mentors">Mentors</a> </li>
                            <li><a href="../views/contact.html" title="Contact Us">Contact</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
